html{
    background-color: rgba(205,133,63,0.14);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    margin-top: 80px;
    border: solid black 1px;
    border-collapse: collapse;
}

td{
    border: solid black 1px;
    height: 40px;
}

select{
    background-color: rgba(186, 73, 48, 0.224);
}

h1{
    font-size: 4rem;
    text-align: center;
    font-family: 'Texturina', serif;
    color: rgb(129, 129, 129);
    margin: 20px;
}
  
a{
    text-decoration: none;
}

select{
    width: 100px;
    height: 100%;
}

input{
    font-size: 1.6rem;
    width: 160px;
    height: 50px;
}

.button{
    margin: 50px 0px;
    text-align: center;
}

#soldat{
    max-width: 300px;
    max-height: 350px;
    float: right;
    background-position: bottom right;
}